@model SupplierSelectionModel

<div class="card card-default">
	<div class="card-header d-flex align-items-center" data-toggle="collapse" data-target="#supplier-info" aria-expanded="true" aria-controls="supplier-info" style="cursor: pointer;">
		<div class="card-title">
			<i class="fas fa-industry"></i>
			@T("Admin.Supplier.Widget")
		</div>
		<div class="ml-auto">
			<i class="fa fa-chevron-down toggle-icon"></i>
		</div>
	</div>

	<div id="supplier-info" class="collapse show">
		<div class="card-body">
			<div class="form-group row">
				<p>
					@T("Admin.Supplier.Widget.Description")
				</p>


				<div class="col-md-12 mb-2">
					<div class="card">
						<div class="card-body">
							<select id="SupplierId" name="SupplierId" class="form-control">
								@if (Model.SelectedSupplierId > 0)
								{
									<option value="@Model.SelectedSupplierId">@Model.SelectedSupplierName</option>
								}
								else
								{
									<option value="">Select a supplier</option>
								}
								@foreach (var supplier in Model.Suppliers)
								{
									<option value="@supplier.Id">@supplier.Name</option>
								}
							</select>
							<br />
							<button type="button" id="assignSupplierBtn" class="btn btn-primary">
								Assign Supplier
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>

		$(document).ready(function () {
		$('#assignSupplierBtn').on('click', function () {
			
			var supplierId = $('[name="SupplierId"]').val();
			const productId = '@Model.ProductId';

			if (!supplierId || supplierId === "0") {
				alert("Please select a supplier first.");
				return;
			}



				$.ajax({
		type: "POST",
		url: '/Admin/SupplierAdmin/AssignSupplierToProduct',
		data: {
			supplierId: supplierId,
			productId: productId
		},
		headers: {
			'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
		},
		success: function (response) {
			alert(response.message);
		},
		error: function () {
			alert("An error occurred while saving.");
		}
	});

		});
	});
</script>